<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ibuildapp.romanblack.VideoPlugin">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-sdk tools:overrideLibrary="wseemann.media"/>

    <application>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.VideoPlugin"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.EMailAuthorizationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ibuildapp.romanblack.VideoPlugin.EMailSignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ibuildapp.romanblack.VideoPlugin.SharingActivity"
        android:screenOrientation="portrait"/>
        <activity android:name=".details.VideoDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.VideoPlugin.details.InnerFullscreenActivity"
            android:screenOrientation="landscape"/>

        <activity android:name="com.ibuildapp.romanblack.VideoPlugin.details.VimeoFullscreenActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".replies.RepliesActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>

        <activity android:name="com.ibuildapp.romanblack.VideoPlugin.AuthorizationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <receiver android:name="com.ibuildapp.romanblack.VideoPlugin.PushBroadcast">
            <intent-filter>
                <action android:name="com.ibuildapp.romanblack.VideoPlugin.PUSH"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
